= form_with(model: monster_item) do |form|
  - if monster_item.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(monster_item.errors.count, "error")
        prohibited this monster_item from being saved:
      %ul
        - monster_item.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :monster_id, style: "display: block"
    = form.text_field :monster_id
  %div
    = form.label :item_id, style: "display: block"
    = form.text_field :item_id
  %div
    = form.label :grade, style: "display: block"
    = form.number_field :grade
  %div
    = form.submit
