%p{:style => "color: green"}= notice
= render @monster_item
%div
  = link_to "Edit this monster item", edit_monster_item_path(@monster_item)
  |
  \#{link_to "Back to monster items", monster_items_path}
  
  \#{button_to "Destroy this monster item", @monster_item, method: :delete}
