<p style="color: green"><%= notice %></p>

<%= render @terrain %>

<div>
  <%= link_to "Edit this terrain", edit_terrain_path(@terrain) %> |
  <%= link_to "Back to terrains", terrains_path %>

  <%= button_to "Destroy this terrain", @terrain, method: :delete %>
</div>
