<p style="color: green"><%= notice %></p>

<%= render @weakness %>

<div>
  <%= link_to "Edit this weakness", edit_weakness_path(@weakness) %> |
  <%= link_to "Back to weaknesses", weaknesses_path %>

  <%= button_to "Destroy this weakness", @weakness, method: :delete %>
</div>
