= form_with(model: monster) do |form|
  - if monster.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(monster.errors.count, "error")
        prohibited this monster from being saved:
      %ul
        - monster.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :name, style: "display: block"
    = form.text_field :name
  %div
    = form.label :size, style: "display: block"
    = form.number_field :size
  %div
    = form.label :swamp, style: "display: block"
    = form.check_box :swamp
  %div
    = form.label :dessert, style: "display: block"
    = form.check_box :dessert
  %div
    = form.label :forest, style: "display: block"
    = form.check_box :forest
  %div
    = form.submit
