<div id="<%= dom_id monster %>">
  <p>
    <strong>Name:</strong>
    <%= monster.name %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= monster.size %>
  </p>

  <p>
    <strong>Swamp:</strong>
    <%= monster.swamp %>
  </p>

  <p>
    <strong>Dessert:</strong>
    <%= monster.dessert %>
  </p>

  <p>
    <strong>Forest:</strong>
    <%= monster.forest %>
  </p>

</div>
