%div{:id => "#{dom_id monster}"}
  %p
    %strong Name:
    = monster.name
  %p
    %strong Size:
    = monster.size
  %p
    %strong Swamp:
    = monster.swamp
  %p
    %strong Dessert:
    = monster.dessert
  %p
    %strong Forest:
    = monster.forest
