%h1 Listing monsters

%table
  %thead
    %tr
      %th Name
      %th Key
      %th Size
      %th
      %th
      %th

  %tbody
    - @monsters.each do |monster|
      %tr
        %td= monster.name
        %td= monster.key
        %td= monster.size
        %td= link_to 'Show', monster
        %td= link_to 'Edit', edit_monster_path(monster)
        %td= link_to 'Destroy', monster, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Monster', new_monster_path
