%p#notice= notice

.monster_show
  .header
    = render MonsterHeader.new(monster)

  %hr/

  %h3 Found In:

  .areas
    - monster.areas.each do |area|
      = render AreaLink.new(area) do
        = render AreaIcon.new(area)

  %hr/

  %h3 Equipment:

  .equip_list
    .weapon_wrapper
      %strong Weapons:
      %br/
      - monster.weapons.each do |weapon|
        = render EquipIcon.new(weapon)

    .armor_wrapper
      %strong Armor:
      %br/
      - monster.armors.each do |armor|
        = render EquipIcon.new(armor)
