%div{:id => "#{dom_id skill_level}"}
  %p
    %strong Skill:
    = skill_level.skill_id
  %p
    %strong Level:
    = skill_level.level_id
  %p
    %strong Equipable:
    = skill_level.equipable_id
  %p
    %strong Power:
    = skill_level.power
