<div id="<%= dom_id skill_level %>">
  <p>
    <strong>Skill:</strong>
    <%= skill_level.skill_id %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= skill_level.level_id %>
  </p>

  <p>
    <strong>Equipable:</strong>
    <%= skill_level.equipable_id %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= skill_level.power %>
  </p>

</div>
