<p style="color: green"><%= notice %></p>

<%= render @skill_level %>

<div>
  <%= link_to "Edit this skill level", edit_skill_level_path(@skill_level) %> |
  <%= link_to "Back to skill levels", skill_levels_path %>

  <%= button_to "Destroy this skill level", @skill_level, method: :delete %>
</div>
