= form_with(model: monster_terrain) do |form|
  - if monster_terrain.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(monster_terrain.errors.count, "error")
        prohibited this monster_terrain from being saved:
      %ul
        - monster_terrain.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :monster_id, style: "display: block"
    = form.text_field :monster_id
  %div
    = form.label :terrain_id, style: "display: block"
    = form.text_field :terrain_id
  %div
    = form.submit
