<div id="<%= dom_id star %>">
  <p>
    <strong>Stars:</strong>
    <%= star.stars %>
  </p>

  <p>
    <strong>Monster:</strong>
    <%= star.monster_id %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= star.hp %>
  </p>

  <p>
    <strong>Raid hp:</strong>
    <%= star.raid_hp %>
  </p>

</div>
