= form_with(model: monster_element) do |form|
  - if monster_element.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(monster_element.errors.count, "error")
        prohibited this monster_element from being saved:
      %ul
        - monster_element.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :monster_id, style: "display: block"
    = form.text_field :monster_id
  %div
    = form.label :element_id, style: "display: block"
    = form.text_field :element_id
  %div
    = form.submit
