<%= form_with(model: item_source) do |form| %>
  <% if item_source.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item_source.errors.count, "error") %> prohibited this item_source from being saved:</h2>

      <ul>
        <% item_source.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :item_id, style: "display: block" %>
    <%= form.text_field :item_id %>
  </div>

  <div>
    <%= form.label :source_id, style: "display: block" %>
    <%= form.text_field :source_id %>
  </div>

  <div>
    <%= form.label :stars, style: "display: block" %>
    <%= form.number_field :stars %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
