%div{:id => "#{dom_id item}"}
  %p
    %strong Name:
    = item.name
  %p
    %strong Swamp:
    = item.swamp
  %p
    %strong Swamp outcrop:
    = item.swamp_outcrop
  %p
    %strong Dessert:
    = item.dessert
  %p
    %strong Dessert outcrop:
    = item.dessert_outcrop
  %p
    %strong Forest:
    = item.forest
  %p
    %strong Forest outcrop:
    = item.forest_outcrop
