<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Swamp:</strong>
    <%= item.swamp %>
  </p>

  <p>
    <strong>Swamp outcrop:</strong>
    <%= item.swamp_outcrop %>
  </p>

  <p>
    <strong>Dessert:</strong>
    <%= item.dessert %>
  </p>

  <p>
    <strong>Dessert outcrop:</strong>
    <%= item.dessert_outcrop %>
  </p>

  <p>
    <strong>Forest:</strong>
    <%= item.forest %>
  </p>

  <p>
    <strong>Forest outcrop:</strong>
    <%= item.forest_outcrop %>
  </p>

</div>
