<p style="color: green"><%= notice %></p>

<%= render @level %>

<div>
  <%= link_to "Edit this level", edit_level_path(@level) %> |
  <%= link_to "Back to levels", levels_path %>

  <%= button_to "Destroy this level", @level, method: :delete %>
</div>
