<div id="<%= dom_id equipable_stat %>">
  <p>
    <strong>Grade:</strong>
    <%= equipable_stat.grade %>
  </p>

  <p>
    <strong>Sub grade:</strong>
    <%= equipable_stat.sub_grade %>
  </p>

  <p>
    <strong>Atk:</strong>
    <%= equipable_stat.atk %>
  </p>

  <p>
    <strong>Crit:</strong>
    <%= equipable_stat.crit %>
  </p>

  <p>
    <strong>Elem:</strong>
    <%= equipable_stat.elem %>
  </p>

  <p>
    <strong>Def:</strong>
    <%= equipable_stat.def %>
  </p>

  <p>
    <strong>Forge:</strong>
    <%= equipable_stat.forge %>
  </p>

  <p>
    <strong>Equipable:</strong>
    <%= equipable_stat.equipable_id %>
  </p>

</div>
