%div{:id => "#{dom_id equipable_stat}"}
  %p
    %strong Grade:
    = equipable_stat.grade
  %p
    %strong Sub grade:
    = equipable_stat.sub_grade
  %p
    %strong Atk:
    = equipable_stat.atk
  %p
    %strong Crit:
    = equipable_stat.crit
  %p
    %strong Elem:
    = equipable_stat.elem
  %p
    %strong Def:
    = equipable_stat.def
  %p
    %strong Forge:
    = equipable_stat.forge
  %p
    %strong Equipable:
    = equipable_stat.equipable_id
