<%= form_with(model: equipable_stat) do |form| %>
  <% if equipable_stat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(equipable_stat.errors.count, "error") %> prohibited this equipable_stat from being saved:</h2>

      <ul>
        <% equipable_stat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :grade, style: "display: block" %>
    <%= form.number_field :grade %>
  </div>

  <div>
    <%= form.label :sub_grade, style: "display: block" %>
    <%= form.number_field :sub_grade %>
  </div>

  <div>
    <%= form.label :atk, style: "display: block" %>
    <%= form.number_field :atk %>
  </div>

  <div>
    <%= form.label :crit, style: "display: block" %>
    <%= form.number_field :crit %>
  </div>

  <div>
    <%= form.label :elem, style: "display: block" %>
    <%= form.number_field :elem %>
  </div>

  <div>
    <%= form.label :def, style: "display: block" %>
    <%= form.number_field :def %>
  </div>

  <div>
    <%= form.label :forge, style: "display: block" %>
    <%= form.check_box :forge %>
  </div>

  <div>
    <%= form.label :equipable_id, style: "display: block" %>
    <%= form.text_field :equipable_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
