<%= form_with(model: equipable) do |form| %>
  <% if equipable.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(equipable.errors.count, "error") %> prohibited this equipable from being saved:</h2>

      <ul>
        <% equipable.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :group, style: "display: block" %>
    <%= form.number_field :group %>
  </div>

  <div>
    <%= form.label :subgroup, style: "display: block" %>
    <%= form.number_field :subgroup %>
  </div>

  <div>
    <%= form.label :monster_id, style: "display: block" %>
    <%= form.text_field :monster_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
