= form_with(model: equipable) do |form|
  - if equipable.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(equipable.errors.count, "error")
        prohibited this equipable from being saved:
      %ul
        - equipable.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :group, style: "display: block"
    = form.number_field :group
  %div
    = form.label :subgroup, style: "display: block"
    = form.number_field :subgroup
  %div
    = form.label :monster_id, style: "display: block"
    = form.text_field :monster_id
  %div
    = form.submit
