!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Remhn
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "/fontawesome/css/all.css", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    #page_wrapper
      %nav
        %ul
          %li= link_to 'Monsters', monsters_path
          %li= link_to 'Equipment', equips_path
          %li= link_to 'Items', items_path
          %li= link_to 'Areas', areas_path
          %li= link_to 'Item Box', item_box_path
      #content
        = yield
