= form_with(model: forge_item) do |form|
  - if forge_item.errors.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(forge_item.errors.count, "error")
        prohibited this forge_item from being saved:
      %ul
        - forge_item.errors.each do |error|
          %li= error.full_message
  %div
    = form.label :equipable_id, style: "display: block"
    = form.text_field :equipable_id
  %div
    = form.label :level_id, style: "display: block"
    = form.text_field :level_id
  %div
    = form.label :item_id, style: "display: block"
    = form.text_field :item_id
  %div
    = form.label :qty, style: "display: block"
    = form.number_field :qty
  %div
    = form.submit
