%div{:id => "#{dom_id forge_item}"}
  %p
    %strong Equipable:
    = forge_item.equipable_id
  %p
    %strong Level:
    = forge_item.level_id
  %p
    %strong Item:
    = forge_item.item_id
  %p
    %strong Qty:
    = forge_item.qty
