<div id="<%= dom_id forge_item %>">
  <p>
    <strong>Equipable:</strong>
    <%= forge_item.equipable_id %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= forge_item.level_id %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= forge_item.item_id %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= forge_item.qty %>
  </p>

</div>
